@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@700&family=Roboto&display=swap');

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.hero {
    width: 100vw;
    height: 100vh;
    background: url("../images/XsaucedBackground.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &__copy {
        width: 45vw;
        height: 100vh;
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        padding: 0 2em 0 4em;
        opacity: .85;
        backdrop-filter: blur(5px);

        @include respond(phone) {
            width: 100vw;
            height: 100vh;
            padding: 0 4em 0 4em;
            backdrop-filter: blur(2px);
        }

        &__title {
            order: 2;
            font-size: 3em;
            font-family: 'Chivo', sans-serif;

            @include respond(phone) {
                font-size: 2.3em;
            }
        }

        &__text {
            order: 3;
            font-size: 1.1em;
            margin: 0 5em 2.5em 0;

            @include respond(phone) {
                margin: 0 0 2em 0;
            }
        }

        &__btn {
            order: 4;
            position: relative;
            
            background-color: #2EC4B6;
            border-radius: 6px;
            margin-right: 5em;
            text-align: center;

            @include respond(phone) {
                margin-right: 0;
            }

            a {
                display: block;
                padding: 1.5em 2em;
                color: white;
                text-decoration: none;
            }
            a:hover {
                cursor: pointer;
            }
            
        }

        img {
            order: 1;
            width: 10em;
        }
    }
}